.main {
    width: 80%;
    margin: 20px auto;
    h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0px;
        color: #000;
        line-height: 28px;
        text-transform: uppercase;
        flex: 1 1 0%;
    }
}

.main__dark {
    width: 80%;
    margin: 20px auto;
    h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0px;
        color: #fff;
        line-height: 28px;
        text-transform: uppercase;
        flex: 1 1 0%;
    }
}

.cart {
    display: grid;
    grid-template-columns: 69% 30%;
    gap: 1%;
    margin-top: 10px;
}

.cart__empty {
    width: 100%;
}

.header-cart {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: auto 180px 120px 150px 25px;
    column-gap: 24px;
    padding: 5px;
    border-radius: 5px;
    color: #787878;
    font-size: 14px;
    color: #000;
    align-items: center;
}

.header-cart__dark {
    background-color: #071b2f;
    display: grid;
    grid-template-columns: auto 180px 120px 150px 25px;
    column-gap: 24px;
    padding: 5px;
    border-radius: 5px;
    color: #787878;
    font-size: 14px;
    color: #fff;
    align-items: center;
}

.sum-price {
    background-color: #f5f5f5;
}

.sum-price__dark {
    background-color: #071b2f;
}

.cart-item__product {
    display: grid;
    grid-template-columns: auto 180px 120px 150px 20px;
    padding: 10px;
    column-gap: 24px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    align-items: center;
    margin-top: 15px;
    img {
        width: 80px;
        height: 80px;
    }
    h4 {
        padding-left: 10px;
    }
}

.cart-item__product__dark {
    display: grid;
    grid-template-columns: auto 180px 120px 150px 20px;
    padding: 10px;
    column-gap: 24px;
    border-radius: 5px;
    background-color: #071b2f;
    margin-bottom: 10px;
    align-items: center;
    margin-top: 15px;
    img {
        width: 80px;
        height: 80px;
    }
    .cart-item__product-img {
        h4 {
            padding-left: 10px;
            color: #fff;
        }
    }
}

.cart-item__product-img {
    display: flex;
    h4 {
        font-size: 13px;
        font-weight: 500;
        margin: 0px;
        color: #27272a;
        line-height: 28px;
        text-transform: uppercase;
        flex: 1 1 0%;
    }
}

.cart-item__product-size {
    span {
        color: #ff424e;
        font-weight: 600;
        font-size: 13px;
    }
}

.cart-item__product-delete {
    color: #787878;
    &:hover {
        cursor: pointer;
    }
}

.cart-item__product-price {
    color: #ff424e;
    font-weight: 600;
}

.sum-price {
    border-radius: 10px;
    padding: 10px;
}

.sum-price__total {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 35px;
    padding: 0px 10px;
    h5 {
        font-size: 15px;
        font-weight: 400;
        margin: 0px;
        line-height: 28px;
        flex: 1 1 0%;
    }
    .title {
        color: #787878;
        font-weight: 500;
    }
    span {
        color: #ff424e;
        font-weight: 600;
    }
}

.sum__price_discount {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    h5 {
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
        line-height: 28px;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        li {
            display: flex;
            align-items: center;
            border: 1px solid #007bff;
            padding: 5px;
            border-radius: 5px;
            .title-discount {
                img {
                    width: 40px;
                    height: 40px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
}

.title-discount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sum__price_discount::-webkit-scrollbar {
    display: none;
}

.btn-buy {
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
    button {
        width: 100%;
        height: 40px;
        background: #ff424e;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.recommend {
    height: 50vh;
    background-color: #fff;
    padding: 10px;
    h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0px;
        color: #000;
        line-height: 28px;
        text-transform: uppercase;
    }
}

.cart-empty {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    img {
        width: 200px;
    }
    h4 {
        font-size: 17px;
        font-weight: 500;
        margin: 0px;
        color: #000;
        line-height: 28px;
        text-transform: uppercase;
    }
}

.cart-empty__dark {
    width: 100%;
    background-color: #071b2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    img {
        width: 200px;
    }
    h4 {
        font-size: 17px;
        font-weight: 500;
        margin: 0px;
        color: #fff;
        line-height: 28px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 350px) and (max-width: 481px) {
    .main__dark {
        width: 100%;
        margin: 70px 0px;
    }
    .cart-empty__dark {
        padding: 15px;
    }
    .cart {
        grid-template-columns: 1fr;
    }
    .cart-item__product-img {
        flex-direction: column;
        gap: 10px;
        img {
            width: 60px;
            height: 60px;
            border-radius: 10px;
        }
    }
    .header-cart__dark {
        grid-template-columns: 50px 60px 60px 70px 30px;
    }
    .cart-item__product__dark {
        grid-template-columns: 50px 60px 60px 70px 30px;
    }
}

/* Điện thoại lớn (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
}

/* Phablet (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
}

/* Tablet nhỏ (768px - 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet lớn (900px - 1024px) */
@media screen and (min-width: 900px) and (max-width: 1024px) {
}
