.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right {
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    overflow-y: scroll;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
