.wrapper {
    h4 {
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

.form__add-product {
    display: grid;
    grid-template-columns: 68% 31%;
    gap: 1%;
}

.form__input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #21222d;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    input {
        color: #fff;
    }
    label {
        color: #fff;
    }
}

.form__slider {
    background: #21222d;
    padding: 30px;
    border-radius: 10px;
    img {
        width: 100%;
        object-fit: cover;
        height: 500px;
        border-radius: 10px;
    }
}

.form__editor {
    background-color: #21222d;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.form__category {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (min-width: 350px) and (max-width: 481px) {
    .form__input {
        grid-template-columns: repeat(1, 1fr);
    }

    .form__add-product {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1%;
    }
}

/* Điện thoại lớn (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
}

/* Phablet (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
}

/* Tablet nhỏ (768px - 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet lớn (900px - 1024px) */
@media screen and (min-width: 900px) and (max-width: 1024px) {
}
