.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    a {
        text-decoration: none;
    }
}

.fade-in-up.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 360px) and (max-width: 479px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
    }
}

/* Điện thoại lớn (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
}

/* Phablet (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
}

/* Tablet nhỏ (768px - 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
    }
}

/* Tablet lớn (900px - 1024px) */
@media screen and (min-width: 900px) and (max-width: 1024px) {
}
