.main {
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 20% 79%;
    gap: 1%;
}

.left {
    padding: 20px;
    color: #4a4a4a;
}

.left__header__user {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .left__header__user__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
            color: #333;
            font-weight: 300;
            font-size: 15px;
        }
    }
}

.left__header__user__dark {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .left__header__user__info__dark {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #fff;
        p {
            font-weight: 300;
            font-size: 15px;
        }
    }
}

.right__list__controller__user {
    margin-top: 20px;
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        li {
            display: flex;
            gap: 10px;
            align-items: center;
            list-style: none;
            padding: 10px;
            span {
                font-size: 16px;
            }
        }
        li:hover {
            cursor: pointer;
            background: #ebebf0;
            color: #000;
            border-radius: 5px;
            transition: 0.3s ease;
        }
    }
    .active__controller {
        background: #ebebf0;
        color: #000;
        border-radius: 5px;
        color: #1994ff;
        font-weight: 500;
    }
}

.right {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

.right__dark {
    background-color: #091b2f;
    border-radius: 10px;
    padding: 10px 20px;
}

@media screen and (min-width: 350px) and (max-width: 481px) {
    .main {
        width: 95%;
        grid-template-columns: 1fr;
        margin-top: 80px;
    }
}

/* Điện thoại lớn (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
}

/* Phablet (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
}

/* Tablet nhỏ (768px - 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet lớn (900px - 1024px) */
@media screen and (min-width: 900px) and (max-width: 1024px) {
}
