.wrapper {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.wrapper__dark {
    background-color: #071b2f;
    border-bottom: 1px solid #ccc;
    .logo {
        h1 {
            color: #fff;
        }
    }
    .search {
        input {
            background-color: #121212;
            color: #fff;
            border: 1px solid #888;
        }
    }
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    a {
        text-decoration: none;
        color: #000;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
        width: 50px;
        height: 50px;
    }
    h1 {
        font-size: 20px;
        font-weight: 600;
    }
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
    input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
        border: 1px solid #1976d2;
        border-radius: 5px;
        cursor: pointer;
    }
    .login {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
    }
    .register {
        background-color: #fff;
        color: #007bff;
        padding: 10px;
    }
}

.login__dark {
    background-color: #121212;
    color: #fff;
    padding: 10px;
}

.register__dark {
    background-color: #121212;
    color: #fff;
    padding: 10px;
}

.mode {
    button {
        background: none;
        border: 1px solid #1976d2;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    button:hover {
        cursor: pointer;
    }
}

#icon__dark {
    color: #1976d2;
}

.cart__dark {
    position: relative;
    button {
        padding: 10px;
        border: 1px solid #1976d2;
        background: none;
        cursor: pointer;
        color: #1976d2;
        font-size: 15px;
    }
}

.cart {
    position: relative;
    button {
        padding: 10px;
        border: 1px solid #1976d2;
        background: none;
        cursor: pointer;
        color: #000;
        font-size: 15px;
    }
}

.number__notify__dark {
    position: absolute;
    top: -5px;
    right: -4px;
    background-color: #ff424e;
    font-size: 13px;
    font-weight: 500;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.number__notify {
    position: absolute;
    top: -5px;
    right: -4px;
    background-color: #ff424e;
    font-size: 13px;
    font-weight: 500;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Điện thoại trung bình (360px - 479px) */
@media screen and (min-width: 360px) and (max-width: 479px) {
    .logo {
        display: none;
    }
    .wrapper__dark {
        position: fixed;
        top: 0;
        z-index: 999;
        right: 0;
        left: 0;
    }
    .wrapper {
        position: fixed;
        top: 0;
        z-index: 999;
        right: 0;
        left: 0;
    }
}

/* Điện thoại lớn (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
}

/* Phablet (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
}

/* Tablet nhỏ (768px - 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet lớn (900px - 1024px) */
@media screen and (min-width: 900px) and (max-width: 1024px) {
}
