.controller {
    padding: 30px 20px;
    color: #fff;
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li {
        list-style: none;
        display: flex;
        gap: 10px;
        cursor: pointer;
        align-items: center;
        height: 40px;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        color: #87888c;
    }
    h5 {
        font-size: 17px;
        font-weight: 500;
    }
    li:hover {
        background-color: #21222d;
        transition: 0.5s;
    }
}
#active {
    transition: 0.5s;
    background-color: #a9dfd8;
    color: #171821;
}
