.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4 {
        font-size: 20px;
    }
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.button__group__action {
    display: flex;
    gap: 10px;
    justify-content: center;
}
