.wrapper {
    width: 30%;
    height: 90vh;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px 1fr;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 7%;
    right: 7%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    .header__left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        padding-bottom: 10px;
        padding: 10px;
    }
    .header__right {
        button {
            background: none;
            font-size: 20px;
            margin-right: 10px;
            border: none;
        }
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    h4 {
        font-size: 17px;
        font-weight: 500;
        color: #3b85ff;
    }
}

.main {
    height: 670px;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.footer {
    border-top: 1px solid #ccc;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        padding: 8px 48px 8px 16px;
        width: 98%;
        font-size: 14px;
        line-height: 21px;
        color: rgb(39, 39, 42);
        border: 1px solid rgb(166, 166, 176);
        resize: none;
        border-radius: 20px;
        outline: 0px;
        appearance: none;
        height: 40px;
        min-height: 40px;
        caret-color: rgb(10, 104, 255);
    }
}

.message__item {
    padding: 14px 0px 2px 16px;
    display: flex;
    gap: 10px;
    color: rgb(39, 39, 42);
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.message__content {
    background-color: #f5f5fb;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    h5 {
        color: rgb(59, 133, 255);
        font-size: 12px;
        line-height: 150%;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #27272a;
        line-height: 150%;
    }
}

.message__content__user {
    background-color: #3b85ff;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;

    h5 {
        color: #fff;
        font-size: 12px;
        line-height: 150%;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        color: #fff;

        line-height: 150%;
    }
}
