.home-card-body {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.home-card-body__dark {
    padding: 10px;
    background-color: #071b2f;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.main__banner {
    width: 100%;
    height: 50vh;
    border-radius: 10px;

    .main__banner__content {
        width: 100%;
        height: 100%;
        filter: brightness(0.8);
        display: flex;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
        img {
            width: 35%;
            height: 100%;
            border-radius: 10px;
            animation: fadeIn 1s forwards;
            animation-delay: 1s;
            opacity: 0;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateX(50px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.main__banner__content__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        li:first-child {
            font-size: 32px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            color: #ff424e;
            border: none;
        }
        li {
            font-weight: 500;
            color: #fff;
            border-bottom: 1px solid #fff;
            animation: slideUp 1.5s forwards; /* Áp dụng animation */
            opacity: 0;
        }
    }

    li:nth-child(1) {
        animation-delay: 0.1s;
    }

    li:nth-child(2) {
        animation-delay: 0.2s;
    }

    li:nth-child(3) {
        animation-delay: 0.3s;
    }

    li:nth-child(4) {
        animation-delay: 0.4s;
    }

    li:nth-child(5) {
        animation-delay: 0.5s;
    }

    li:nth-child(6) {
        animation-delay: 0.6s;
    }

    @keyframes slideUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
