.home-card-body {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.home-card-body__dark {
    padding: 10px;
    background-color: #071b2f;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.main__banner {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    position: relative;
    .main__banner__content {
        width: 100%;
        height: 100%;
    }
    .main__banner__content__dark {
        width: 100%;
        height: 100%;
        filter: brightness(0.8);
    }
    .main__banner__title {
        position: absolute;
        background: none !important;
        top: 5%;
        left: 1%;
    }
}



.main__banner__content__info {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    justify-items: center;
    height: 60vh;
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding-left: 40px;
        width: 100%;
        li:first-child {
            font-size: 32px;
            font-weight: 600;
            text-transform: uppercase;
            color: #ff424e;
            border: none;
        }
        li {
            font-weight: 500;
            border-bottom: 1px solid black;
            opacity: 0;
        }
    }

    img {
        width: 60%;
        height: 350px;
        border-radius: 10px;
        opacity: 0;
        object-fit: cover;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #animation__li:nth-child(1) {
        animation-delay: 2s;
    }

    #animation__li:nth-child(2) {
        animation-delay: 2.2s;
    }

    #animation__li:nth-child(3) {
        animation-delay: 2.3s;
    }

    #animation__li:nth-child(4) {
        animation-delay: 2.4s;
    }

    #animation__li:nth-child(5) {
        animation-delay: 2.5s;
    }

    #animation__li:nth-child(6) {
        animation-delay: 2.6s;
    }

    #animation__li:nth-child(7) {
        animation-delay: 2.8s;
    }

    @keyframes slideUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

#animation__li {
    animation: slideUp 2s forwards;
}

#animation__img {
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.main__banner__content__info__btn {
    width: 100px;
    background-color: red;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 40px;
    animation-delay: 2.8s;
    color: #fff !important;
    animation: slideUp 2s forwards;
    &:hover {
        cursor: pointer;
    }
}

.sort__product {
    width: 100%;
    border-radius: 10px;
    background-color: #071b2f;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    h4 {
        font-size: 15px;
        font-weight: 500;
    }
}

.sort__product__dark {
    width: 100%;
    border-radius: 10px;
    background-color: #071b2f;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    h4 {
        font-size: 15px;
        font-weight: 500;
    }
}

.sort__product {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    h4 {
        font-size: 15px;
        font-weight: 500;
    }
}

.sort__product__checkbox {
    label {
        font-size: 12px;
    }
}

.sort__product__content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

@media screen and (min-width: 360px) and (max-width: 479px) {
    .main__banner__content__info {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        padding-top: 70px;
        height: fit-content;
        img {
            display: none;
        }
    }
}

/* Điện thoại lớn (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
    .main__banner {
        height: fit-content;
    }
}

/* Phablet (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
}

/* Tablet nhỏ (768px - 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
    .main__banner__content__info {
        img {
            width: 90%;
        }
    }
    .main__banner {
        height: auto;
    }
}
