.wrapper {
    width: 100%;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: #071b2f;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.wrapper__light {
    width: 100%;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.header {
    display: flex;
    gap: 5px;
    align-items: center;
    #icon {
        font-size: 11px;
    }
}

.header__time__sale {
    display: flex;
    gap: 5px;
    align-items: center;
    span {
        font-size: 14px;
        font-weight: 700;
        background-color: rgb(255, 66, 78);
        border-radius: 4px;
        color: white;
        line-height: 24px;
        text-align: center;
        padding: 3px;
    }
}

.card {
    width: 100%;
    padding: 5px;
    a {
        text-decoration: none;
    }
}

@media screen and (min-width: 360px) and (max-width: 479px) {
}

/* Điện thoại lớn (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
}

/* Phablet (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
}

/* Tablet nhỏ (768px - 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet lớn (900px - 1024px) */
@media screen and (min-width: 900px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}
